client/obj/client.csproj.nuget.dgspec.json
client/obj/project.assets.json
client/obj/project.nuget.cache
client/obj/Debug/net5.0/client.csproj.FileListAbsolute.txt
client/obj/Debug/net5.0/client.csprojAssemblyReference.cache
client/obj/Debug/net5.0/client.genruntimeconfig.cache
server/obj/project.assets.json
server/obj/project.nuget.cache
server/obj/server.csproj.nuget.dgspec.json
server/obj/Debug/net5.0/server.csproj.FileListAbsolute.txt
server/obj/Debug/net5.0/server.csprojAssemblyReference.cache
server/obj/Debug/net5.0/server.genruntimeconfig.cache
client/obj/client.csproj.nuget.dgspec.json
client/obj/project.assets.json
client/obj/project.nuget.cache
client/obj/Debug/net5.0/client.csproj.FileListAbsolute.txt
client/obj/Debug/net5.0/client.csprojAssemblyReference.cache
client/obj/Debug/net5.0/client.genruntimeconfig.cache
server/obj/project.assets.json
server/obj/project.nuget.cache
server/obj/server.csproj.nuget.dgspec.json
server/obj/Debug/net5.0/server.csproj.FileListAbsolute.txt
server/obj/Debug/net5.0/server.csprojAssemblyReference.cache
server/obj/Debug/net5.0/server.genruntimeconfig.cache
